<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Jewellery_Shop_Management_System.Properties.Settings.Jewellery_Shop_Management_System_DBConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Jewellery_Shop_Management_System_DB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy ="true">
  
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>

  </startup>

</configuration>
